* {
	box-sizing: border-box;
}

html {
	font-size      : 62.5%;
	/* Ramène à 10px */
	scroll-behavior: smooth;
}

body {
	font-family       : Arial, Helvetica, sans-serif;
	font-size : 1.6em;
	line-height: 1.6;
	overflow-x : hidden;
	background-image: url("../../dark/background/woven_1920.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main{
	padding : 1rem calc((100% - 1200px) / 2);
}


#random{

	h1{
		text-align: center;
	}
	

	#god{
		text-align: center;

		.god_picture {
			max-width : 394px;
			max-height: 526px;
		}
		
	}


	#items {
		display: flex;
		justify-content: center;
		padding: 2rem;
		text-align: center;

		.item_picture {
			max-width: 128px;
		}

		.item{      
			padding: 0 2rem;
		}
	}
}

.banner-nav .is-current {
	color: aqua;
}




.styled {
	display: block;
	margin: 0 auto;
	grid-area: title;
	border          : 0;
	line-height     : 2.5;
	padding         : 0 1rem;
	font-size       : 1em;
	text-align      : center;
	color           : #fff;
	text-shadow     : 1px 1px 1px #000;
	border-radius   : 10px;
	background-color: rgb(36, 35, 35);
	background-image: linear-gradient(to top left,
			rgba(0, 0, 0, .2),
			rgba(0, 0, 0, .2) 30%,
			rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
		inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
	background-color: rgb(0, 0, 0);
}

.styled:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
		inset 2px 2px 3px rgba(0, 0, 0, .6);
}