// !default -> peut-être redéfinie
$color-default  : #222 !default;
$color-inverse  : #ddd !default;
$dark-color     : #333 !default;
$light-color    : #fff !default;
$main-background: rgb(112, 153, 228) !default;
$dark-blue      : rgb(17, 96, 214) !default;
