.main{
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 3em;
    color: azure;
}

.random{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.main-title {
    font-family: $main-title;
    font-size: 8rem;
    color: $title;
    text-align: center;
    text-shadow: 0 0 3rem #000, 0 0 3rem #000;
}

.god_name{
    font-size: 3em;
    font-family: $god-title;
    text-shadow: 0 0 3rem #000, 0 0 3rem #000;
}

.item_name {
    font-size: 0.8em;
}


.god {
    position  : relative;
    border: 5px darken($gold, 5%) solid;
    text-align: center;
    background-color: $dark-blue;


    .header-figcaption {
        position: absolute;
        left: 0;
        right: 0;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle at center, rgba(0, 0, 0, 0.425) 0, rgb(0, 0, 0) 100%);

    }

}

.items {
    margin                 : 0;
    padding: 1em;
    display                : flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    list-style-type        : none;
    background-color: darken($gold, 5%);

    li{
        margin: 0;
        padding: 0;
        text-align: center;

        .item{
            background-color: $dark-blue;
        }
    }
}

.header,
.footer {
    padding         : 2rem calc((100% - 1900px) / 2);
    background-color: darken($dark-blue, 5%);
    color           : white;

    a {
        color          : $color-inverse;
    }
}


.header {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : auto;
    gap                  : 1rem;
    align-items          : center;

    .logo {
        grid-column: 1;
        grid-row   : 1;
        font-size  : 1.2em;
        color      : lighten($gold, 5%);
    }

    .nav {
        grid-column   : 2;
        grid-row      : 1;
        justify-self  : end;
        text-transform: uppercase;

        a {
            margin: 0 1em;
        }
    }
}


.footer {
    text-align: center;

    p {
        margin: 0;
    }
}