@media screen and (max-width: 36em) {

    td {
        table-layout: fixed;
        width       : 1em;
        white-space : nowrap;
    }

    .random {
        .grid{
            
            display: block;

            .god {
                .god_picture {
                    max-width : 16em;
                }
            }

            .items {
                

                .item_name{
                    font-size: 1.2rem;
                }

                .item_picture {
                    max-width: 5em;
                }
            }
        }
    }
}