@media screen and (max-width: 36em) {

    .header{
        padding: 1em;
        font-size: 0.6em;
    }

    .main-title{
        font-size: 5rem;
    }

    .random {

        .god {
            .god_picture {
                max-width : 16em;
            }
        }

        .items {
            
            .item_name{
                font-size: 1.2rem;
            }
        }
    }

    .god{

        .god_name {
            margin: 0;
            font-size: 2em;
        }

        .god_title {
            margin: 0;
        }
    }
    


    td {
        table-layout: fixed;
        width       : 1em;
        white-space : nowrap;
    }
}