// !default -> peut-être redéfinie
$color-default  : #222 !default;
$color-inverse  : #ddd !default;
$dark-color     : #13192E !default;
$light-color    : #fff !default;

$light-blue      : rgb(17, 96, 214) !default;
$gold : #948135!default;
$title: #85784A !default;

$dark-blue: #13192C !default;

$god-title:  'Oleo Script', cursive;

$main-title: 'Montserrat', sans-serif;
